.container{
  display: flex;
  align-items: center;
  gap: 100px;
  width: 90%;

}

.imageContainer{
  flex-shrink: 0;
  margin-right: 20px;
  position: center
 
}


.imgcontainer{
  width: 80%;
  height: 500px;
  padding: 20px;
  position: center;
  
  
  
}
.fade {
  opacity: 1;
  transition: opacity 0.5s;
}

.fade:hover {
  opacity: 0.5;
}

.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  margin-top: 35px;
  font-size: 50px;
  background: linear-gradient(to bottom, #7DD181,#bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description{
  font-size: 22px;
  font-weight: 300px;
}

.button{
  padding: 20px;  
  cursor: pointer;
  background-color: #7DD181;
  border: none; 
  border-radius: 3px;
  width: max-content; 
  color: white;
}

